---
layout: index
title: Kanban Management Professional
group:
tagline: A sample page for landing pages and apps, try yourself!
tags : []
img :
img-mobile :
author : Pablo Domingo
css:
js:
keywords: Kanban, TKP
canonical: https://heliumjk.github.io
---
{% include JB/setup %}

<!-- Cabecera contenido KMP -->
<div class="header-style-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="hero-content-v2">
          <h3><strong>Management Professional KMPII</strong></h3>
          <p>Aprende a gestionar y evolucionar una iniciativa Kanban  con la menor resistencia en la organización.</p>
          <a href="#content-details" class="page-scroll btn btn-lg btn-default-filled"> Más información</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <figure>
          <img style="margin-top: 144px" src="{{ BASE_PATH }}/assets/images/lku/LKU-badge-training_L600-header.png" alt="">
        </figure>
      </div>
    </div>
  </div>
</div>

<div class="mb-60">&nbsp;</div>

<!-- Más detalles - lista -->
<div id="content-details">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header-title">
          <h2 class="heading-title text-center">Más detalles</h2>
        </div>
        <div class="features-wrap">
          <div class="row">
            <!-- Start featured -->
            <div class="col-md-6 col-sm-6">
              <div class="featured-box">
                <div class="featured-content">
                  <h4>Contenido formativo</h4>
                  <ul class="list-style check-list pl-0">
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Método Kanban
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i>Proto-kanban
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i>Significado de los sistemas Kanban
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Una organización orientada a Servicios
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Escalado de Kanban
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Discovery Kanban / Upstream Kanban
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Roles emergentes
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Feedback loops: las cadencias de toma de decisiones de Kanban
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Modelos de mejora de Kanban
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Profundinzando en el leadTime y otras métricas
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Identificando problemas de flujo
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Variablidad
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Economía
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Gestión del cambio
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End featured -->

            <!-- Start featured -->
            <div class="col-md-6 col-sm-6">
              <div class="featured-box">
                <div class="featured-content">
                  <h4>Objetivos de Aprendizaje</h4>
                  <ul class="list-style check-list pl-0">
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i>El funcionamiento profundo de Kanban en la organización
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i>Gestión del cambio y como minimizar la resistencia
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i>Como observar y hacer evidente la mejora en Kanban
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Herramientas de coaching para los equipos de servicio
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i> Feedback loops para la toma de decisiones a los distintos niveles de la organización
                    </li>
                    <li>
                      <i class="fa fa-check light-green" aria-hidden="true"></i>Métricas (de entrega de valor y de gestión de cambio)
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End featured -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Que ventajas tiene además Lean Kanban University -->
<div class="benefits-lku">
  <div class="container">
    <div class="col-md-12">
      <div class="page-header-title">
        <h2 class="heading-title text-center">Beneficios de Lean Kanban University</h2>
      </div>
    </div>
  </div>
</div>
{% include benefits.html %}


<!-- A quien va dirigido -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header-title">
          <h2 class="heading-title text-center">¿A quien va dirigido?</h2>
        </div>
        <div class="features-wrap">
          <div class="row">
            <!-- Start featured -->
            <div class="col-md-6 col-sm-6">
              <div class="featured-box">
                <div class="featured-icon">
                  <i class="fa fa-check"></i>
                </div>
                <div class="featured-content">
                  <h4>Portfolio & Project Managers</h4>
                  <p>Service Delivery Managers, Program Managers, Directores, Project Managemnt Office y Gobierno.</p>
                </div>
              </div>
            </div>
            <!-- End featured -->

            <!-- Start featured -->
            <div class="col-md-6 col-sm-6">
              <div class="featured-box">
                <div class="featured-icon">
                  <i class="fa fa-check"></i>
                </div>
                <div class="featured-content">
                  <h4>Agile Coaches</h4>
                  <p>Scrum Masters, Consultores de Negocios interesados en la mejora de la organización y transformación organizacional.</p>
                </div>
              </div>
            </div>
            <!-- End featured -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Que opinan los que han estado -->
<div id="content-requestor">
  <div class="single-testimonial-area">
    <div class="container">
      <div id="single-testimonial-item" class="owl-carousel">
        <!-- Single testimonial Item -->
        <div class="item">
          <div class="row justify-content-md-center">
            <div class="col-md-8 col-xs-12 col-md-auto">
              <div class="testimonial-inner text-md-center">
                <blockquote>
                  Kanban te ayudará a descubrir, diseñar y mejorar los sistemas Kanban de tu organización.
                </blockquote>
                <div class="testimonial-images">
                  <img class="img-circle text-md-center" src="{{ BASE_PATH }}/assets/images/testimonial/img1.jpg" alt="">
                </div>
                <div class="testimonial-footer">
                  <i class="fa fa-user"></i> Arman
                  <a href="#"> UIdeck</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Single testimonial Item -->
        <div class="item">
          <div class="row justify-content-md-center">
            <div class="col-md-8 col-xs-12 col-md-auto">
              <div class="testimonial-inner text-md-center">
                <blockquote>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, non ut molestiae rerum praesentium repellat debitis iure reiciendis, eius culpa beatae commodi facere ad numquam. Quisquam dignissimos similique sunt iure fugit, omnis vel cupiditate repellendus magni nihil molestiae quam, delectus consequuntur blanditiis modi nostrum?
                </blockquote>
                <div class="testimonial-images">
                  <img class="img-circle text-md-center" src="{{ BASE_PATH }}/assets/images/testimonial/img2.jpg" alt="">
                </div>
                <div class="testimonial-footer">
                  <i class="fa fa-user"></i> Jeniffer
                  <a href="#"> GrayGrids</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Single testimonial Item -->
        <div class="item">
          <div class="row justify-content-md-center">
            <div class="col-md-8 col-xs-12 col-md-auto">
              <div class="testimonial-inner text-md-center">
                <blockquote>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, non ut molestiae rerum praesentium repellat debitis iure reiciendis, eius culpa beatae commodi facere ad numquam. Quisquam dignissimos similique sunt iure fugit, omnis vel cupiditate repellendus magni nihil molestiae quam, delectus consequuntur blanditiis modi nostrum?
                </blockquote>
                <div class="testimonial-images">
                  <img class="img-circle text-md-center" src="{{ BASE_PATH }}/assets/images/testimonial/img3.jpg" alt="">
                </div>
                <div class="testimonial-footer">
                  <i class="fa fa-user"></i> Elon Musk<a href="#"> Tesla</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pricing and Next Training Courses -->
<div id="next-trainings" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header-title">
        <h2 class="heading-title text-center">PRÓXIMAS FECHAS</h2>
      </div>
    </div>
    <!-- Table Style 3 -->
    {% include activeTrainings.html %}
  </div>
</div>
