---
layout: index
title: Books
group: navigation
tagline: Page with all books that I have read
tags : [books]
img :
img-mobile :
author : Pablo Domingo
css:
js:
keywords: books
canonical: https://heliumjk.github.io
---
{% include JB/setup %}

<div class="tbtn wow pulse" id="menu" data-wow-iteration="infinite" data-wow-duration="500ms" data-toggle="offcanvas" data-target=".navmenu">
      <p><i class="fa fa-file-text-o"></i>All Books</p>
    </div>
  </div>

  <!-- Content Start -->
  <div id="grid-continer" style="
    margin: 45px 0;">
    <div class="container">
      <div class="row">
        {% for book in site.categories.books %}
        <div class="col-md-4 d-flex">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/headers.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/{{ book.img }}" alt="">
              <h3 class="demo-title">{{ book.name }}</h3>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  <!-- Content End -->
