<!-- posts carousel -->
<section id="blog">
  <div class="container">
    <div id="posts-carousel" class="owl-carousel">
     {% for post in site.posts %}
      <div class="blog-block blog block carousel-post">
       {% if post.img %}
        <img src="{{ BASE_PATH }}/assets/images/{{ post.img }}" alt="">
       {% endif %}
        <h5>{{ post.title }}</h5>
        <p>{{ post.excerpt }}</p>
        <a href="{{ BASE_PATH }}{{ post.url }}">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
     {% endfor %}
    </div>
  </div>
</section>
