<div class="header-style-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <figure>
          <img src="{{ BASE_PATH }}/assets/images/bg/hero-2.png" alt="">
        </figure>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="hero-content-v2">
          <h3>We <strong>Teach Kanban</strong></h3>
          <p>
            Learn to improve and visualize how your work works
          </p>
          <a href="{{ BASE_PATH }}/components" class="btn btn-lg btn-default-filled animated fadeInUp">Find my next class</a>
        </div>
      </div>
    </div>
  </div>
</div>
