<div class="row">
  <!-- Pricing Start 01 -->
  <div class="col-md-4 col-sm-6" display=table width=100%>
    <div class="pricing-table" >
      <div class="table-header">
        <h3>
          Team Kanban Practitioner
        </h3>
      </div>
      <div class="plan">
        <h3 class="price">
          $ 49
        </h3>
      </div>
      <div class="plan-info">
        <p>
          1 domains
        </p>
        <p>
          1 developer
        </p>
        <p>
          Minified source code
        </p>
        <p>
          Free updates forever
        </p>
        <div class="button-area">
          <a class="btn btn-common" href="#">
                Get Started
              </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="pricing-table">
      <div class="table-header">
        <h3>
          Kanban System Design
        </h3>
      </div>
      <div class="plan">
        <h3 class="price">
          $ 79
        </h3>
      </div>
      <div class="plan-info">
        <p>
          Unlimited domains
        </p>
        <p>
          1 developer
        </p>
        <p>
          Unlimited source code
        </p>
        <p>
          Free updates forever
        </p>
        <div class="button-area">
          <a class="btn btn-common" href="#">
              Buy Now
            </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="pricing-table">
      <div class="table-header">
        <h3>
          Kanban Management Professional
        </h3>
      </div>
      <div class="plan">
        <h3 class="price">
          $ 159
        </h3>
      </div>
      <div class="plan-info">
        <p>
          Unlimited domains
        </p>
        <p>
          Unlimited developer
        </p>
        <p>
          Unlimited source code
        </p>
        <p>
          Free updates forever
        </p>
        <div class="button-area">
          <a class="btn btn-common" href="#">
              Buy Now
            </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Pracing End 01 -->
</div>
